.common-layout {

  .dxc-header,
  .dxc-footer,
  .dxc-main,
  .dxc-aside {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dxc-header,
  .dxc-footer {
    background-color: var(--dxc-color-primary-light-7);
    color: var(--dxc-text-color-primary);
    text-align: center;
  }

  .dxc-aside {
    background-color: var(--dxc-color-primary-light-8);
    color: var(--dxc-text-color-primary);
    text-align: center;
  }

  .dxc-main {
    background-color: var(--dxc-color-primary-light-9);
    color: var(--dxc-text-color-primary);
    text-align: center;

    height: 150px;
  }
}